body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #FFFAFA; 
    padding: 10px 20px;
}

.navbar-content {
    display: flex;
    align-items: center;
}

.exam {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.labs {
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

.section {
    background-color: #FFFF; 
    padding: 10px 20px;
}

.section-content {
    display: flex;
    align-items: center;
}

.breadcrumb {
    color: blue;
    font-size: 16px;
    font-weight: normal;
}

.section-text {
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.info-section {
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main-heading {
    color: darkblue;
    font-size: 40px;
    margin: 10px 0;
}

.sub-heading {
    color: blue;
    font-size: 24px;
    margin: 0;
}
.offer-section-outer {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.offer-section {
    background-color: orange;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; 

.offer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.limited-offer, .timer, .get-offer {
    color: black;
    font-size: 16px;
}

.get-offer .code {
    font-weight: bold;
}
.grid-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    width: 80%; 

.first-container {
    background-color: #FFFAFA; 
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}

.order-review .headline {
    color: darkblue;
    font-size: 24px;
    margin-bottom: 10px;
}

.order-review .subline {
    color: lightblue;
    font-size: 16px;
    margin-bottom: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th, .order-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.order-table th {
    background-color: #FFFAFA; 
    color: blue;
    text-align: left;
}

.second-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.square-box {
    background-color:rgb(246, 255, 246); 
    width: 100%;
    padding-bottom: 100%; 
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    overlay: green;
    border: 1px solid gray;

}
.square-box h2{
    color: green;

}